In [37]:
# # Unit 2 | Homework Assignment: Automate Your Day Job with Python

# ## Background

# You've made it! It's time to put away the Excel sheet and join the big leagues. Welcome to the world of programming with Python. In this homework assignment, you'll be using the concepts you've learned to complete the required PyBank Python activity, and if you wish to stretch your skills even further, the optional PyRamen Python activity. Both activities present a real-world situation in which your newfound Python skills will come in handy. These activities are far from easy, though, so expect some hard work ahead!

# ## Before You Begin

# 1. Create a new GitHub repo called `python-homework`. Then, clone it to your computer.

In [38]:
# 2. In your local git repository, create a directory for both of the Python activities. Use folder names that correspond to the activities: **PyBank** and **PyRamen**.

# 3. In each folder you just created, add a new file called `main.ipynb`. Remember that to create this file you will need to use JupyterLab to correctly generate the .ipynb file format. This will be the main notebook to run for each analysis.

# 4. Push the above changes to GitHub.

# ## PyBank (Required)

# ![Revenue](Images/revenue-per-lead.jpg)

# In this activity, you are tasked with creating a Python script for analyzing the financial records of your company. You will be provided with a financial dataset in this file: [budget_data.csv](PyBank/Resources/budget_data.csv). This dataset is composed of two columns, Date and Profit/Losses. (Thankfully, your company has rather lax standards for accounting, so the records are simple.)

In [ ]:
# Your task is to create a Python script that analyzes the records to calculate each of the following:

# * The total number of months included in the dataset.

In [39]:
# 1. Import Panda Library
import pandas as pd
from pathlib import Path

In [41]:
# 2. Load CSV file
csv_path = Path("Resources/budget_data.csv")
csv_data = pd.read_csv(csv_path)
#(Optional)
csv_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [42]:
# (Optional) 3. Identify number of cells
csv_data.shape

(86, 2)

In [43]:
# 4. Identify the number of months
Total_Months = csv_data['Date'].count()
print(f"Total Months: {Total_Months}")

Total Months: 86

In [44]:
#* The net total amount of Profit/Losses over the entire period.
Total = csv_data['Profit/Losses'].sum()
print(f"Total: ${Total}")

Total: $38382578

In [45]:
#* The average of the changes in Profit/Losses over the entire period.
  # Set Date as index
  #csv_data.set_index(pd.to_datetime(csv_data['Date'],infer_datetime_format=True), inplace=True)
  #csv_data.head()
csv_data.set_index(csv_data['Date'], inplace=True)
csv_data.head()

              Date  Profit/Losses
Date
Jan-2010  Jan-2010         867884
Feb-2010  Feb-2010         984655
Mar-2010  Mar-2010         322013
Apr-2010  Apr-2010         -69417
May-2010  May-2010         310503

In [46]:
  # Drop the extra date column
csv_data.drop(columns=['Date'], inplace=True)
csv_data.head()

          Profit/Losses
Date
Jan-2010         867884
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503

In [47]:
  #Calculate the monthly changes in Profit/Losses
#PNL_changes = csv_data - csv_data.shift(1)
#PNL_changes.head()
csv_data["PL Change"] = csv_data["Profit/Losses"] - csv_data["Profit/Losses"].shift(1)
csv_data.head()

          Profit/Losses  PL Change
Date
Jan-2010         867884        NaN
Feb-2010         984655   116771.0
Mar-2010         322013  -662642.0
Apr-2010         -69417  -391430.0
May-2010         310503   379920.0

In [48]:
  #Calculate Average changes in Profit/Losses
Ave_PL_changes = csv_data['PL Change'].mean()
print(f"Average Change: {Ave_PL_changes}")

Average Change: -2315.1176470588234

In [49]:
  #Formatting the Average changes variable to 2 decimal points
F_Ave_PL_changes='{0:.2f}'.format(Ave_PL_changes)
print(f"Average Change: {F_Ave_PL_changes}")

Average Change: -2315.12

In [50]:
#* The greatest increase in profits (date and amount) over the entire period.
#Find the amount of the largest increase
Largest_increase = csv_data['PL Change'].max()
print(f"Greatest Increase in Profits: (${Largest_increase})")

Greatest Increase in Profits: ($1926159.0)

In [51]:
#Find the date with the largest increase

#1st define variable'x' and pull the index value
x=csv_data.loc[csv_data['PL Change'] == Largest_increase]

#How to print an index value from a list
y=x.index.values
y[0]
print(f"Month and Year with the Greatest Increase in Profits: {y[0]}")

Month and Year with the Greatest Increase in Profits: Feb-2012

In [52]:
#* The greatest increase in profits (date and amount) over the entire period.

print(f"Greatest Increase in Profits: {y[0]} (${Largest_increase})")

Greatest Increase in Profits: Feb-2012 ($1926159.0)

In [53]:
#(Optional Step) Adifferent way to do it: Define a function called main that will print the increase/decrease
def main(Largest_increase):
    print(f"Greatest increase in Profits: ${Largest_increase}")
main(Largest_increase)

Greatest increase in Profits: $1926159.0

In [54]:
#(OptionalStep) Slicing the dataframe to find the row with the largest increase (Step not necessary)
csv_data.loc[csv_data['PL Change'] == Largest_increase]

          Profit/Losses  PL Change
Date
Feb-2012        1170593  1926159.0

In [55]:
#* The greatest decrease in losses (date and amount) over the entire period.
#Find the amount of the largest decrease
Largest_decrease = csv_data['PL Change'].min()
print(f"Greatest Decrease in Profits: (${Largest_decrease})")

Greatest Decrease in Profits: ($-2196167.0)

In [56]:
#Find the date with the largest decrease
#1st define variable'z' and pull the index value
z=csv_data.loc[csv_data['PL Change'] == Largest_decrease]
#How to pull and print the index value
v=z.index.values
v[0]
print(f"Month and Year with the Greatest Decrease in Profits: {v[0]}")

Month and Year with the Greatest Decrease in Profits: Sep-2013

In [57]:
#* The greatest decrease in losses (date and amount) over the entire period.

print(f"Greatest Decrease in Profits: {v[0]} (${Largest_decrease})")

Greatest Decrease in Profits: Sep-2013 ($-2196167.0)

In [58]:
# (Optional Step) A different way to visualize it: Slicing the dataframe
csv_data.loc[csv_data['PL Change'] == Largest_decrease]

          Profit/Losses  PL Change
Date
Sep-2013       -1196225 -2196167.0

In [59]:
print("Financial Analysis")
print("------------------------------")
print(f"Total Months: {Total_Months}")
print(f"Total: ${Total}")
print(f"Average Change: {F_Ave_PL_changes}")
print(f"Greatest Increase in Profits: {y[0]} (${Largest_increase})")
print(f"Greatest Decrease in Profits: {v[0]} (${Largest_decrease})")

Financial Analysis
------------------------------
Total Months: 86
Total: $38382578
Average Change: -2315.12
Greatest Increase in Profits: Feb-2012 ($1926159.0)
Greatest Decrease in Profits: Sep-2013 ($-2196167.0)

In [60]:
print(f"Current working directory: {Path.cwd()}")

Current working directory: C:\Users\frank\Desktop\python-homework\PyBank

In [62]:
output_path = Path("outputfile.txt")
with open(output_path, 'w') as file:
    file.write("This is my output file. \n")
    file.write("Financial Analysis\n")
    file.write("------------------------------\n")
    file.write(f"Total Months: {Total_Months}\n")
    file.write(f"Total: ${Total}\n")
    file.write(f"Average Change: {F_Ave_PL_changes}\n")
    file.write(f"Greatest Increase in Profits: {y[0]} (${Largest_increase})\n")
    file.write(f"Greatest Decrease in Profits: {v[0]} (${Largest_decrease})\n")

In [201]:
# #Your resulting analysis should look similar to the following:

#   ```text
#   Financial Analysis
#   ----------------------------
#   Total Months: 86
#   Total: $38382578
#   Average  Change: $-2315.12
#   Greatest Increase in Profits: Feb-2012 ($1926159)
#   Greatest Decrease in Profits: Sep-2013 ($-2196167)
#   ```

# Your final script should print the analysis to the terminal and export a text file with the results.